@keyframes slideInLeft{
    from{
        transform: translateX(-300px);
    }
    to{
        transform: translateX(300px);
    }
}
.heading-1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80px;
    background-color: rgb(23, 46, 246);
    padding: 40px;
    margin-left: 280px;
    margin-right: 280px;
    font-weight: lighter;
    color: rgb(248, 237, 27);
    text-decoration: underline;
    text-decoration-color: rgb(231, 40, 43);
    animation-name: slideInLeft;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-fill-mode: both;

    transform: translateX(-150px);
}


body{
    color: rgb(159, 19, 19);
   background-color: rgb(79, 196, 44); 
   font-size: 35px;
   text-align: center;
   font-family: "Playwrite AU SA", cursive;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.6;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
}
main{
  margin-left: 20px;
  margin-right: 20px;
}
#about {
  text-align: center;
  list-style-type: none;
}
.navbar{
  position: sticky;
  top: 0;
  width: 100%;
  

}
.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 4em;
  background-color: rgb(192, 96, 27);
  padding: 10px;
  margin-left: 0px;
  margin-right: 0px;
  overflow: hidden;
  float: center;
  justify-content: center;
  

}
.navbar a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
}
.navbar a:hover {
  background-color: hsl(27, 83%, 54%);
}

h2 {
  text-align: center;
}
.flexbox-container{
  height: 600px;
  background-color: rgb(128, 12, 186);
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: flex-end;
 
}
.flexbox-item{
  width: 200px;
  margin: 10px;
  border: 3px solid black;
  background-color: white;
  flex-wrap: wrap;
}
.flexbox-item-1 {
  min-height: 200px;
  background-color: rgb(250, 250, 128);
  
}
.flexbox-item-2 {
  min-height: 300px;
  background-color: rgb(246, 147, 111);
}
.flexbox-item-3 {
  min-height: 400px;
  background-color: rgb(208, 208, 252);
}
.flexbox-item-4 {
  min-height: 500px;
  background-color: rgb(54, 186, 186);
  
}
#experience ul {
  list-style-type: none;
  background-color: rgb(12, 118, 150);
  border: 4px solid black;
  padding: 20px;
  border-radius: 4px;
  margin: 100px;
}
#connect ul {
  list-style-type: none;
  
  
}
.flexbox1-container{
  height: 600px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: rgb(212, 194, 51);
  display: flex;
  justify-content: space-around;
  
}
.flexbox1-item{
  width: 200px;
  margin: 100px;
  border: 3px solid black;
  background-color: white;
  flex-wrap: wrap;
  flex-grow: 3;
  flex-basis: 0%;
  
  
}
.flexbox1-item-1 {
  min-height: 300px;
  background-color: rgb(67, 170, 218);
  align-content: center;
  color: rgb(22, 135, 7);
  position: relative;
}
.flexbox1-item-2 {
  min-height: 300px;
  background-color: rgb(169, 73, 233);
  align-content: center;
  color: rgb(38, 141, 179);
}
.fa-github{
   font-size: 200px;
   color: #000;
   
}
.fa-linkedin{
    font-size: 200px;
    color: #000;
    
}
.fa-github:hover{
    color: hsl(0, 0%, 60%);

}
.fa-linkedin:hover{
    color: hsl(0, 0%, 66%);
}